@import "machiatto.css";

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}

* {
  color: @lavender;
  border: 0;
  padding: 0 0;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 12px;
  font-weight: 700;
  transition: all 0.1s ease;
}

window#waybar {
  /* background-color: @crust; */
  background-color: transparent;
}

#workspaces button label {
  color: @blue;
}
#workspaces button.active label {
  color: @base;
}

#workspaces button {
  /* border-radius: 50%; */
  background-color: @crust;
  color: #000000;
  margin: 0px 1px;
  padding: 0px 6px;
}

#workspaces button:hover {
  box-shadow: none;
  text-shadow: none;
  border: 0px;
  background: @lavendar;
}

#workspaces {
  border-style: solid;
  border-radius: 100px;
  margin: 6px 0px;
  margin-left: 20px;
}

#workspaces button.active {
  background-color: @blue;
}

#clock,
#custom-swap,
#custom-background,
#custom-cava-internal,
#battery,
#cpu,
#memory,
#disk,
#idle_inhibitor,
#temperature,
#custom-keyboard-layout,
#backlight,
#network,
#pulseaudio,
#mode,
#bluetooth,
#tray,
#custom-power,
#mpris,
#window,
#custom-pacman {
  padding: 5px 8px;
  border-style: solid;
  background-color: @crust;
  opacity: 1;
  margin: 6px 0px 6px 0px;
}

/* -----------------------------------------------------------------------------
   * Module styles
   * -------------------------------------------------------------------------- */

#disk {
  margin-left: 10px;
  padding-left: 12px;
  border-radius: 10px 0px 0px 10px;
}

#window {
  border-radius: 10px;
  padding: 0px 10px;
}
#mode {
  border-radius: 10px;
  color: @mauve;
  margin-right: 5px;
}

#mpris {
  color: @yellow;
  margin-right: 10px;
  border-radius: 10px;
  padding: 0px 15px;
}

#custom-cava {
  color: #8fbc8f;
  border-left: 0px;
  border-right: 0px;
  padding-bottom: 6px;
  font-family: "bargraph";
  font-size: 22px;
}

#custom-cava-internal {
  border-radius: 10px;
  color: @mauve;
}

#mpd {
  border-radius: 10px;
  color: @mauve;
  margin-left: 5px;
  background-color: rgba(0, 0, 0, 0);
}

#mpd.2 {
  border-radius: 10px 0px 0px 10px;
  margin: 8px 0px 8px 6px;
  padding: 4px 12px 4px 10px;
}

#mpd.3 {
  border-radius: 0px 0px 0px 0px;
  margin: 8px 0px 8px 0px;
  padding: 4px;
}

#mpd.4 {
  border-radius: 0px 10px 10px 0px;
  margin: 8px 0px 8px 0px;
  padding: 4px 10px 4px 14px;
}

#mpd.2,
#mpd.3,
#mpd.4 {
  background-color: @base;
  font-size: 14px;
}

#custom-swap {
  border-radius: 10px;
  color: @base;
  margin-left: 10px;
  background-color: @mauve;
}

#custom-background {
  border-radius: 10px;
  background-color: @base;
  color: white;
  padding: 5px 10px;
  margin: 10px 0px;
}

#clock {
  /* background-color:#a3be8c; */
  color: @sky;
  border-radius: 10px;
  margin-right: 20px;
}
#backlight {
  /* margin-left: 8px; */
  padding-left: 12px;
  color: @yellow;
  /* border-bottom: 2px solid @yellow; */
  border-radius: 10px 0 0 10px;
  /* margin: 10px 10px; */
}

#battery {
  color: @maroon;
  /* border-bottom: 2px solid #d8dee9; */
  margin-left: 20px;
  padding-right: 10px;
  padding-left: 5px;
  border-radius: 10 10px 10px 10;
  margin-right: 10px;
}

#battery.warning,
#battery.critical,
#battery.urgent {
  background-color: @red;
  color: #181825;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.charging {
  color: @green;
  animation: none;
  background-color: @crust;
  /* border-bottom: 2px solid #81a1c1; */
}

#cpu {
  color: @sky;
  /* border-bottom: 2px solid @sky; */
}

#cpu #cpu-icon {
  color: @sky;
}

#memory {
  border-radius: 0px 10px 10px 0px;
  margin-right: 10px;
  padding-right: 12px;
  color: @sky;
}

#network.disabled {
  color: #bf616a;
  /* border-bottom: 2px solid #bf616a; */
}

#network {
  color: @green;
  /* border-bottom: 2px solid @green; */
  border-radius: 10px 0px 0px 10px;
}

#bluetooth {
  color: @blue;
  /* border-bottom: 2px solid @green; */
  border-radius: 0px 10px 10px 0px;
}

#network.disconnected {
  color: #bf616a;
  /* border-bottom: 2px solid #bf616a; */
}

#pulseaudio {
  border-radius: 0px 10px 10px 0px;
  color: @flamingo;
  /* margin-right: 10px; */
  /* padding-right: 12px; */
  /* border-bottom: 2px solid @flamingo; */
}

#pulseaudio.muted {
  color: #3b4252;
  /* border-bottom: 2px solid #3b4252; */
}

#temperature {
  color: @teal;
  /* border-bottom: 2px solid @teal; */
  border-radius: 10px 0 0 10px;
}

#temperature.critical {
  color: @red;
  /* border-bottom: 2px solid @red; */
}

#idle_inhibitor {
  background-color: #ebcb8b;
  color: @base;
}

#tray {
  /* background-color: @base; */
  margin: 8px 10px;
  border-radius: 10px;
}

#custom-launcher,
#custom-power {
}

#custom-launcher {
  background-color: #fff;
  color: @mauve;
  border-radius: 0px 15px 0px 0px;
  padding: 5px 10px 5px 10px;
}

#custom-power {
  color: @base;
  background-color: @red;
  border-radius: 10px;
  margin-left: 5px;
  margin-right: 15px;
  padding: 5px 10px;
}

#window {
  border-style: hidden;
  margin-left: 10px;
  /* margin-top:1px;  
      padding: 8px 1rem; */
  margin-right: 10px;
  color: #eceff4;
}

#custom-keyboard-layout {
  color: @peach;
  /* border-bottom: 2px solid @peach; */
  border-radius: 0 10px 10px 0;
  margin-right: 10px;
}
